kind: PersistentVolume
apiVersion: v1
metadata:
  name: {{data['domain']}}-orderer-pv
  labels:
    type: local
    name: {{data['domain']}}-orderer-files
spec:
  capacity:
    storage: 2Gi
  volumeMode: Filesystem
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  nfs:
    path: /nfs/{{data['domain']}}-orderer/var
    server: storage.local.parisi.biz
    readOnly: false
