apiVersion: v1
kind: Service
metadata:
  name: {{data['domain']}}-{{org['name']}}-ca
  labels:
    run: {{data['domain']}}-{{org['name']}}-ca
spec:
  type: NodePort
  selector:
    app: {{data['domain']}}-{{org['name']}}-ca
  ports:
    - protocol: TCP
      nodePort: {{org['ca']['port']}}
      targetPort: {{org['ca']['target_port']}}
      port: {{org['ca']['port']}}
      name: grpc
    # - protocol: TCP
    #  port: 7054
    #  name: grpc1
