kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: fabric-{{data['domain']}}-pvc
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 10Gi
  selector:
    matchLabels:
      name: fabric-{{data['domain']}}-files
