kind: PersistentVolume
apiVersion: v1
metadata:
  name: fabric-{{data['domain']}}-pv
  labels:
    type: local
    name: fabric-{{data['domain']}}-files
spec:
  capacity:
    storage: 10Gi
  volumeMode: Filesystem
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  nfs:
    path: /nfs/fabric
    server: storage.local.parisi.biz
    readOnly: false
