apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{data['domain']}}-orderer
spec:
  replicas: 1
  selector:
    matchLabels:
      name: {{data['domain']}}-orderer
  template:
    metadata:
      labels:
        name: {{data['domain']}}-orderer
    spec:
      volumes:
        - name: fabric-{{data['domain']}}-files
          persistentVolumeClaim:
            claimName: fabric-{{data['domain']}}-pvc
        - name: {{data['domain']}}-orderer-files
          persistentVolumeClaim:
            claimName: {{data['domain']}}-orderer-pvc

      containers:
        - name: orderer
          image: hyperledger/fabric-orderer:1.4.4
          imagePullPolicy: IfNotPresent
          command: ['sh', '-c', 'orderer']
          env:
            - name: TZ
              value: 'America/Sao_Paulo'
            - name: ORDERER_CFG_PATH
              value: /fabric/
            - name: ORDERER_GENERAL_LEDGERTYPE
              value: file
            - name: ORDERER_FILELEDGER_LOCATION
              value: /fabric/ledger/orderer
            - name: ORDERER_GENERAL_BATCHTIMEOUT
              value: 1s
            - name: ORDERER_GENERAL_BATCHSIZE_MAXMESSAGECOUNT
              value: '10'
            - name: ORDERER_GENERAL_MAXWINDOWSIZE
              value: '1000'
            - name: CONFIGTX_GENERAL_ORDERERTYPE
              value: 'solo'
            - name: CONFIGTX_ORDERER_ADDRESSES
              value: '{{data['domain']}}-orderer:{{data['orderer']['port']}}'
            - name: ORDERER_GENERAL_LISTENADDRESS
              value: '0.0.0.0'
            - name: ORDERER_GENERAL_LISTENPORT
              value: '{{data['orderer']['port']}}'
            - name: ORDERER_GENERAL_LOGLEVEL
              value: 'debug'
            - name: ORDERER_GENERAL_LOCALMSPDIR
              value: /fabric/crypto-config/ordererOrganizations/{{data['domain']}}.com/orderers/orderer.{{data['domain']}}.com/msp
            - name: ORDERER_GENERAL_LOCALMSPID
              value: OrdererMSP
            - name: ORDERER_GENERAL_GENESISMETHOD
              value: file
            - name: ORDERER_GENERAL_GENESISFILE
              value: /fabric/genesis.block
          volumeMounts:
            - mountPath: /fabric
              name: fabric-{{data['domain']}}-files
            - mountPath: /var
              name: {{data['domain']}}-orderer-files
