apiVersion: v1
kind: Service
metadata:
  name: {{data['domain']}}-{{org['name']}}-{{peer['peer']}}
  labels:
    run: {{data['domain']}}-{{org['name']}}-{{peer['peer']}}
spec:
  type: NodePort
  selector:
    name: {{data['domain']}}-{{org['name']}}-{{peer['peer']}}
  ports:
    - protocol: TCP
      nodePort: {{peer['port']}}
      targetPort: {{peer['port']}}
      port: {{peer['port']}}
      name: grpc
    - protocol: TCP
      nodePort: {{peer['event_port']}}
      targetPort: {{peer['event_port']}}
      port: {{peer['event_port']}}
      name: events
