cryptogen generate --config /fabric/config/crypto-config.yaml
cp -r crypto-config /fabric/
cp -r /opt/gopath/src/github.com/hyperledger/fabric/core/chaincode/lib/cid /opt/gopath/src/github.com/hyperledger/fabric/core/chaincode/
cp /fabric/config/configtx.yaml /fabric/
cd /fabric
configtxgen -profile TwoOrgsOrdererGenesis -channelID $SYS_CHANNEL -outputBlock genesis.block
configtxgen -profile TwoOrgsChannel -outputCreateChannelTx ${CHANNEL_NAME}.tx -channelID $CHANNEL_NAME
{% for org in data['orgs'] %}
configtxgen -profile TwoOrgsChannel -outputAnchorPeersUpdate {{org['name']|capitalize}}MSPanchors.tx -channelID $CHANNEL_NAME -asOrg {{org['name']|capitalize}}MSP
{% endfor %}
